//HEX
$White: #ffffff;
$Silver: #f8fbfc;
$SilverSand: #b3b5b5;
$Alto: #dddddd;
$Astral: #3576b6;
$Danuve: #69a6d9;
$FernGreen: #5e8b41;
$Monza: #c60510;
$FrenchGray: #cacacb;
$SelectiveYellow: #fdb900;

//RGB
$FrenchGrayAlpha: rgba(236, 240, 248, 1);
$MonzaAlpha: rgba(252, 228, 228, 1);
$FernGreenAlpha: rgba(237, 241, 235, 1);
$DanuveAlpha: rgba(237, 241, 248, 1);
