$White: #ffffff;
$Silver: #f8fbfc;
$SilverSand: #b3b5b5;
$Alto: #dddddd;
$Danuve: #69a6d9;
$DanuveAlpha: rgba(237, 241, 248, 1);
$FernGreen: #5e8b41;
$FernGreenAlpha: rgba(237, 241, 235, 1);
$Monza: #c60510;
$MonzaAlpha: rgba(252, 228, 228, 1);
$FrenchGray: #cacacb;
$FrenchGrayAlpha: rgba(236, 240, 248, 1);
