.custom-table {
  @import './table-row.scss';
  @import './table-section.scss';
  font-family: $font-stack;
  text-align: center;
  width: 100%;
  padding: 5px 10px;
  font-size: 12px;
  min-width: 1024px;
  font-weight: 500;
  background-color: $Silver;
  display: inline-block;

  .table-header {
    display: inline-block;
    width: 100%;
    height: auto;
    & > div {
      overflow: hidden;
      padding: 8px 0;
    }
  }

  .table-header,
  .table-row {
    .header-item {
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      width: 12%;
      float: left;
      &:first-child {
        text-align: justify;
      }
      &:nth-child(3) {
        width: 15%;
      }
      .id {
        position: absolute;
        left: 30px;
      }
    }
  }

  .table-content {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
