$font-stack: sans-serif;
$fa-font-path: '~font-awesome/fonts';

@import './normalize.scss';
@import './colors.scss';
@import './table.scss';
@import '~font-awesome/scss/font-awesome.scss';

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
